.privacyContainer {
  gap: 2rem;
  max-width: 50%;

  .infoWrapper {
    gap: 1.5rem;
    align-items: center;

    .infoTitle {
      font-size: 1rem;
      margin: 0;
      padding: 0;
      font-family: var(--semiBold);
      color: var(--black2TextColor);
    }

    .switchWrapper {
      gap: 2.3rem;
      padding-right: 0.5rem;
      align-items: center;
    }
  }
}
