:root {
  --primaryColor: #035d63;
  --pageBackgroundColor: #058b94;
  --whiteTextColor: #fff;
  --blackTextColor: #141414;
  --grayTextColor: #808080;
  --primaryTextColor: #141414;
  --modalBgColor: #fff;
}
