.certificatesContainer {
  gap: 0.5rem;
  height: calc(100dvh - var(--topNavbarHeight));
  overflow: hidden;

  .sidebarWrapper {
    height: 100%;

    .sideBarHeader {
      width: 100%;
      position: relative;
      margin: 0.5rem 0;
      min-height: 3.5rem;
      justify-content: flex-end;
      padding: 0 1rem;
      gap: 0.75rem;

      .titleDiv {
        width: 100%;

        .backIcon {
          cursor: pointer;
          width: 0.75rem;
          height: 0.75rem;
          margin: 0 0.25rem;
        }

        .title {
          margin: 0;
          font-family: var(--semiBold);
          color: var(--blackTextColor);
          font-size: 1.25rem;
          line-height: 1;
          padding: 0;
        }
      }

      .searchWrapper {
        flex-grow: 1;
      }
    }
  }

  .mainBody {
    position: relative;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    padding: 1rem 0.5rem;
    gap: 0.75rem;

    .heading {
      padding: 0;
      flex-wrap: wrap;
      gap: 1rem;
      row-gap: 0;
      align-items: center;
      position: sticky;
      top: 0;

      .titleAndToggler {
        gap: 0.25rem;
        align-items: center;
        width: 50%;

        .togglerDiv {
          gap: 0.125rem;
          cursor: pointer;

          .toggler {
            width: 0.875rem;
          }

          .togglerText {
            font-family: var(--regular);
            font-size: 0.5rem;
            color: var(--primaryColor);
            line-height: 1;
            margin: 0;
          }
        }

        .title {
          margin: 0;
          font-family: var(--semiBold);
          color: var(--blackTextColor);
          font-size: 1.25rem;
          line-height: 1;
          padding: 0;
          word-wrap: break-word;
        }
      }

      button {
        padding: 0.25rem;
        // justify-self: center;
      }

      .paginationAndSearchDiv {
        justify-content: center;
        align-items: center;
        gap: 1rem;
        min-height: 3rem;
        width: 100%;
      }
    }

    .content {
      overflow-y: auto;
      height: fit-content;
      border: 1px solid #e6e6e6;
      border-radius: 0.25rem;
      width: 100%;
      // margin: 0.5rem;

      .emptySelectionDiv {
        height: 100%;
        gap: 1rem;
        padding: 1rem;

        img {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }

        p {
          margin: 0;
          padding: 0;
          line-height: 1;
          font-family: var(--regular);
          text-align: center;
        }

        p:nth-of-type(1) {
          font-size: 1.25rem;
          color: var(--black2TextColor);
        }

        p:nth-of-type(2) {
          font-size: 1rem;
          color: var(--grayTextColor);
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .certificatesContainer {
    padding: 1rem 2rem;

    .sidebarWrapper {
      padding: 0 2rem;
    }

    .mainBody {
      gap: 1rem;
      padding: 0;

      .heading {
        flex-wrap: nowrap;
        gap: 1.25rem;

        .titleAndToggler {
          flex-grow: 2;
        }

        .paginationAndSearchDiv {
          gap: 1rem;
          justify-content: flex-end;
          width: max-content;

          .filterWrapper {
            width: max-content;
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .certificatesContainer {
    padding: 0 1rem 1rem 1rem;

    .sidebarWrapper {
      padding: 1.5rem 0 0 0;
    }

    .mainBody {
      height: 100%;

      .heading {
        padding-top: 1rem;

        .titleAndToggler {
          .togglerDiv {
            display: none;
          }
        }
      }

      .content {
        overflow-y: auto;
        height: 100%;

        .emptySelectionDiv {
          img {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .certificatesContainer {
    .sidebarWrapper {
      padding: 1.875rem 0 0 0;
    }

    .mainBody {
      gap: 0.75rem;

      .heading {
        gap: 2rem;

        .titleAndToggler {
          .title {
            font-size: 1.5rem;
          }
        }

        button {
          padding: 0.275rem 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}
