.reportListItemContainer {
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--grayBorderColor);
  width: 100%;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--green3Color);
    border: 1px solid var(--green3Color);
  }

  .body {
    gap: 1rem;

    .icon {
      width: 2rem;
    }

    .mainContent {
      gap: 0.125rem;

      .title {
        font-size: 1rem;
        font-family: var(--semiBold);
        color: var(--black2TextColor);
        margin: 0;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -moz-line-clamp: 1;
        -ms-line-clamp: 1;
        -o-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        white-space: normal;
      }

      .metaData {
        font-size: 0.75rem;
        gap: 0.25rem;
        color: var(--grayTextColor);
        font-family: var(--regular);
        white-space: nowrap;

        .name {
          font-family: var(--semiBold);
          width: fit-content;
        }
      }
    }
  }
}
