.mentorRequestsContainer {
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 100%;

  .body {
    position: relative;
    overflow-y: auto;
    padding: 0.25rem;

    .cardContainer {
      gap: 0.75rem;
      padding-right: 0.125rem;

      .emptySelectionDiv {
        height: 100%;
        gap: 1rem;
        padding: 1rem;

        img {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }

        p {
          margin: 0;
          padding: 0;
          line-height: 1;
          font-family: var(--regular);
          text-align: center;
        }

        p:nth-of-type(1) {
          font-size: 1.25rem;
          color: var(--black2TextColor);
        }

        p:nth-of-type(2) {
          font-size: 1rem;
          color: var(--grayTextColor);
        }
      }

      .cardWrapper {
        border: 1px solid var(--grayBorderColor);
        border-radius: 0.25rem;

        .cardHeader {
          flex-wrap: nowrap;
          gap: 0.75rem;
          align-items: center;
          padding: 0.5rem;

          .userInfoDiv {
            background-color: var(--taskListBgColor);
            justify-content: center;
            width: 100%;
            gap: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            .imageDiv {
              .avatar {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
              }
            }

            .userInfo {
              flex-grow: 1;
              flex-direction: row;
              gap: 0.5rem;
              height: 100%;
              align-items: center;

              .leftSection {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                .groupOne {
                  .name {
                    font-size: 1.25rem;
                    color: var(--blackTextColor);
                    font-family: var(--bold);
                    margin: 0;
                    line-height: 1;
                  }

                  .designation {
                    font-size: 0.75rem;
                    color: var(--grayTextColor);
                    font-family: var(--regular);
                    line-height: 1.25;
                    margin: 0;
                  }
                }

                .positionTags {
                  gap: 0.5rem;

                  span {
                    font-size: 0.75rem;
                    color: var(--black3TextColor);
                    font-family: var(--regular);
                    line-height: 1;
                    padding: 0.25rem 0.5rem;
                    border-radius: 5px;
                    background-color: var(--green4Color);
                    text-transform: uppercase;
                  }
                }
              }
            }
          }

          .cardToggler {
            margin-left: auto;

            svg {
              width: 1.5rem;
              cursor: pointer;
            }
          }
        }

        .cardBody {
          gap: 1.5rem;
          padding: 0.5rem;
          background-color: var(--green3Color);

          .subSectionWrapper {
            gap: 0.5rem;

            .title {
              font-size: 1.25rem;
              font-family: var(--semiBold);
              color: var(--black2TextColor);
              margin: 0;
              line-height: 1;
            }

            .info {
              font-size: 1rem;
              font-family: var(--regular);
              color: var(--grayTextColor);
              flex-wrap: wrap;
              gap: 0.5rem;
              margin: 0;

              .listItem {
                gap: 0.25rem;
              }
            }
          }

          .bio {
            background-color: var(--green4Color);
            font-size: 1rem;
            font-family: var(--regular);
            color: var(--black3TextColor);
            padding: 0.5rem;
            line-height: 1.5rem;
            border-radius: 0.25rem;
            border: 1px solid var(--green4Color);
          }

          .miscInfoDiv {
            gap: 0.75rem !important;

            .miscInfo {
              gap: 0.125rem;
              flex-direction: column;
              align-items: flex-start;
            }
          }

          .socialInfoDiv {
            gap: 1rem;
            margin: 1rem 0 0 0;

            .wrapper {
              gap: 1.25rem;

              .socialInfo {
                background-color: var(--gray4Color);
                gap: 0.875rem;
                padding: 0.5rem 0.875rem;
                border-radius: 0.25rem;

                .socialUserName {
                  font-size: 1.25rem;
                  font-family: var(--semiBold);
                  color: var(--black3TextColor);
                  margin: 0;
                  line-height: 1;
                }
              }
            }
          }

          .btnDiv {
            margin-top: 1rem;
            align-items: center;

            .sendMessage {
              line-height: 1rem;
              margin: 0;
              padding: 0;
              font-size: 0.875rem;
              font-family: var(--semiBold);
              cursor: pointer;
              color: var(--green8Color);
              text-decoration: underline;
            }

            .btnGroup {
              gap: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .mentorRequestsContainer {
    gap: 1rem;

    .body {
      padding: 0.75rem;

      .cardContainer {
        gap: 0.75rem;
        padding-right: 0.25rem;

        .cardWrapper {
          .cardHeader {
            gap: 0.875rem;
            padding: 0.5rem 1rem;

            .userInfoDiv {
              gap: 1rem;

              .userInfo {
                align-items: center;

                .leftSection {
                  flex-grow: 1;
                  display: flex;
                  flex-direction: row;
                  gap: 1.5rem;

                  .groupOne {
                    gap: 0.25rem;
                  }

                  .positionTags {
                    align-items: center;
                  }
                }
              }
            }
          }

          .cardBody {
            padding: 1rem;

            .subSectionWrapper {
              gap: 0.5rem;

              .title {
                font-size: 1.125rem;
              }

              .info {
                font-size: 1rem;
                gap: 0.875rem;

                .listItem {
                  gap: 0.25rem;
                }
              }
            }

            .miscInfoDiv {
              .miscInfo {
                flex-wrap: wrap;
              }
            }

            .socialInfoDiv {
              .wrapper {
                gap: 1rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
              }
            }

            .btnDiv {
              .sendMessage {
                font-size: 1.125rem;
              }

              .btnGroup {
                gap: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .mentorRequestsContainer {
    .body {
      .cardContainer {
        .cardWrapper {
          .cardHeader {
            gap: 1.5rem;
            padding: 0.5rem 1.5rem;

            .userInfoDiv {
              gap: 1.5rem;

              .userInfo {
                align-items: center;

                .leftSection {
                  flex-grow: 1;
                  display: flex;
                  flex-direction: row;
                  gap: 1.5rem;

                  .groupOne {
                    gap: 0.25rem;
                  }

                  .positionTags {
                    align-items: center;
                  }
                }
              }
            }
          }

          .cardBody {
            padding-top: 1.5rem;

            .miscInfoDiv {
              gap: 1rem !important;
            }

            .socialInfoDiv {
              .wrapper {
                gap: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
