.selectionSideBarContainer {
  background-color: var(--sideBarBgColor);
  background-color: var(--whiteTextColor);
  z-index: 5;
  right: 0;
  top: 0;
  gap: 0.5rem;
  height: 100%;
  overflow-y: auto;

  .selectionSideBarHeader {
    position: sticky;
    top: 0;
    padding: 1rem 1rem 0 1rem;
    gap: 0.25rem;
  }

  ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    overflow-y: auto;
    height: 100%;

    li {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }
}

@media all and (min-width: 992px) {
  .selectionSideBarContainer {
    gap: 0.75rem;

    .selectionSideBarHeader {
      padding: 0;
      gap: 0.75rem;
    }

    ul {
      gap: 0.75rem;
      padding: 0 0.25rem 0 0;
    }
  }
}
