.chatsContainer {
  gap: 1rem;
  height: calc(100dvh - var(--topNavbarHeight));
  overflow: hidden;

  .sidebarWrapper {
    height: 100%;
    z-index: 15;

    .sideBarHeader {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      min-height: 3.875rem;
      align-items: center;
      margin: 0.5rem 0;
      padding: 0 1rem;

      .title {
        margin: 0;
        font-family: var(--semiBold);
        color: var(--blackTextColor);
        font-size: 1.5rem;
        line-height: 1;
        padding: 0;
      }

      .searchWrapper {
        flex-grow: 1;
      }
    }
  }

  .mainBody {
    position: relative;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0 0.75rem 1rem 0.75rem;

    .heading {
      padding: 1rem 0;
      flex-wrap: nowrap;
      gap: 1rem;
      align-items: center;
      position: sticky;
      top: 0;

      .title {
        margin: 0;
        font-family: var(--semiBold);
        color: var(--blackTextColor);
        font-size: 1.5rem;
        line-height: 1;
        padding: 0;
      }
    }

    .content {
      overflow-y: auto;
      height: fit-content;
      border: 1px solid #e6e6e6;
      border-radius: 0.25rem;
      width: 100%;

      .emptySelectionDiv {
        height: 100%;
        gap: 1rem;
        padding: 1rem;

        img {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }

        p {
          margin: 0;
          padding: 0;
          line-height: 1;
          font-family: var(--regular);
          text-align: center;
        }

        p:nth-of-type(1) {
          font-size: 1.25rem;
          color: var(--black2TextColor);
        }

        p:nth-of-type(2) {
          font-size: 1rem;
          color: var(--grayTextColor);
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .chatsContainer {
    padding: 1rem 2rem;

    .mainBody {
      padding: 0;

      .heading {
        padding: 0 0 1rem 0;
      }
    }
  }
}

@media all and (min-width: 992px) {
  .chatsContainer {
    padding: 0 1.5rem 1rem 1.5rem;

    .sidebarWrapper {
      height: 100%;

      .sideBarHeader {
        padding: 0;
      }
    }

    .mainBody {
      padding-top: 1rem;
      gap: 0.75rem;
      height: 100%;

      .heading {
        padding: 0;

        button {
          margin-left: auto;
        }
      }

      .content {
        overflow-y: auto;
        height: 100%;

        .emptySelectionDiv {
          img {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .chatsContainer {
    .sidebarWrapper {
      .sideBarHeader {
        padding: 1rem 0 0 0;
      }
    }

    .mainBody {
      gap: 0.75rem;
    }
  }
}
