.chatsContainer {
  gap: 1rem;
  height: calc(100dvh - var(--topNavbarHeight));
  overflow: hidden;

  .heading {
    padding: 1rem 0.5rem 0 0.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-end;
    align-items: center;
    position: sticky;
    top: 0;

    .titleAndToggler {
      gap: 0.25rem;
      align-items: center;

      .togglerDiv {
        gap: 0.125rem;
        cursor: pointer;

        .toggler {
          width: 0.875rem;
        }

        .togglerText {
          font-family: var(--regular);
          font-size: 0.5rem;
          color: var(--primaryColor);
          line-height: 1;
          margin: 0;
        }
      }

      .title {
        margin: 0;
        font-family: var(--semiBold);
        color: var(--blackTextColor);
        font-size: 1.5rem;
        line-height: 1;
        padding: 0;
      }
    }

    .searchSortDiv {
      order: 2;
      width: 100%;
      justify-content: flex-end;
      gap: 1rem;

      svg {
        cursor: pointer;
      }

      .searchInput {
        width: 100%;
        max-width: 20rem;
        padding: 0.25rem 0.5rem;
        border: 1px solid var(--grayBorderColor);
        border-radius: 0.25rem;
        outline: none;
      }
    }

    button {
      order: 1;
    }
  }

  .mainBody {
    position: relative;
    overflow-y: auto;
    height: 100%;
    padding: 0;

    .sidebarWrapper {
      height: 100%;
    }

    .content {
      overflow-y: auto;
      height: fit-content;
      border: 1px solid #e6e6e6;
      border-radius: 0.25rem;
      width: 100%;

      .emptySelectionDiv {
        height: 100%;
        gap: 1rem;
        padding: 1rem;

        img {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }

        p {
          margin: 0;
          padding: 0;
          line-height: 1;
          font-family: var(--regular);
          text-align: center;
        }

        p:nth-of-type(1) {
          font-size: 1.25rem;
          color: var(--black2TextColor);
        }

        p:nth-of-type(2) {
          font-size: 1rem;
          color: var(--grayTextColor);
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .chatsContainer {
    padding: 2rem;

    .heading {
      padding: 0;
      flex-wrap: nowrap;

      .searchSortDiv {
        order: 1;
      }

      button {
        order: 2;
      }
    }

    .mainBody {
      gap: 1rem;
      padding: 0;
    }
  }
}

@media all and (min-width: 992px) {
  .chatsContainer {
    padding: 1.5rem;

    .heading {
      .titleAndToggler {
        .togglerDiv {
          display: none;
        }
      }

      .searchSortDiv {
        display: none;
      }

      button {
        margin-left: auto;
      }
    }

    .mainBody {
      gap: 0.25rem;
      height: 100%;

      .sidebarWrapper {
        height: 100%;
      }

      .content {
        overflow-y: auto;
        height: 100%;

        .emptySelectionDiv {
          img {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .chatsContainer {
    .mainBody {
      gap: 0.75rem;
    }
  }
}
