.cardWrapper {
  border: 1px solid var(--grayBorderColor);
  border-radius: 0.25rem;

  .cardHeader {
    flex-wrap: nowrap;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;

    .cardIcon {
      svg {
          width: 2rem;
      }
    }

    .metaData {
      gap: 0.25rem;

      .metaDataTitle {
        font-size: 0.75rem;
        font-family: var(--semiBold);
        color: var(--black2TextColor);
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -moz-line-clamp: 1;
        -ms-line-clamp: 1;
        -o-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        white-space: normal;
      }

      .dateTime {
        gap: 1.5rem;
        font-family: var(--regular);
        color: var(--grayTextColor);

        .infoWrapper {
          align-items: center;
          gap: 0.25rem;

          svg {
            width: 1rem;
          }

          .value {
            font-size: 0.75rem;
            line-height: 1;
            margin: 0;
          }
        }
      }
    }

    .cardStatus {
      margin-left: auto;
      font-size: 0.75rem;
      color: var(--grayTextColor);
    }
  }
}

@media all and (min-width: 992px) {
  .cardWrapper {
    padding: 0.1rem 2.5rem 0.1rem 2.5rem;

    .cardHeader {
      .cardIcon {
        margin-right: 2rem;

        svg {
          width: 2.5rem;
        }
      }

      .metaData {
        gap: 0.25rem;

        .metaDataTitle {
          font-size: 1.125rem;
        }

        .dateTime {
          gap: 1.5rem;

          .infoWrapper {
            align-items: center;
            gap: 0.25rem;

            svg {
              width: 1rem;
            }

            .value {
              font-size: 0.75rem;
              line-height: 1;
            }
          }
        }
      }

      .cardStatus {
        font-size: 1rem;
      }
    }
  }
}