.paginationContainer {
  gap: 1rem;
  flex-wrap: wrap;

  .mainWrapper {
    gap: 0.75rem;

    .pagination {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin: 0;
      gap: 0.75rem;
      list-style-type: none;

      a {
        display: flex;
        align-items: center;
      }
    }

    .disabled {
      opacity: 0.5;
      pointer-events: none;
      color: gray;

      path {
        stroke: var(--grayTextColor);
      }
    }

    .icon {
      cursor: pointer;
    }
  }

  .sizePickerLabel {
    font-size: 0.75rem;
    color: var(--grayTextColor);
    gap: 0.5rem;
    align-items: center;

    select {
      font-size: 0.875rem;
      color: var(--blackTextColor);
      font-family: var(--regular);
      padding: 0;
      border-radius: 0.25rem;
      border: 1px solid var(--grayBorderColor);
      background-color: var(--whiteColor);
      outline: none;
      cursor: pointer;
    }
  }
}
