.paginationContainer {
  gap: 1rem;
  flex-wrap: nowrap;
  justify-content: center;
  width: max-content;

  .btnGroup {
    gap: 1rem;

    img {
      cursor: pointer;
    }
  }

  .pageData {
    font-family: var(--semiBold);
    font-size: 1.125rem;
    color: var(--black2TextColor);
  }
}

@media all and (min-width: 768px) {
  .paginationContainer {
    gap: 0.75rem;

    .btnGroup {
      gap: 0.75rem;
    }

    .pageData {
      font-size: 1.125rem;
    }
  }
}

@media all and (min-width: 992px) {
  .paginationContainer {
    .btnGroup {
      gap: 0.75rem;
    }

    .pageData {
      font-size: 1rem;
    }
  }
}
