.archiveContainer {
  gap: 1rem;
  padding-right: 0.125rem;

  .cardWrapper {
    border: 1px solid var(--grayBorderColor);
    border-radius: 0.25rem;

    .cardHeader {
      flex-wrap: nowrap;
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem;

      .cardIcon {
        svg {
          width: 2rem;
        }
      }

      .metaData {
        gap: 0.25rem;

        .metaDataTitle {
          font-size: 1.125rem;
          font-family: var(--semiBold);
          color: var(--black2TextColor);
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-box;
          display: -o-box;
          display: box;
          -webkit-line-clamp: 1; /* number of lines to show */
          -moz-line-clamp: 1;
          -ms-line-clamp: 1;
          -o-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -ms-box-orient: vertical;
          -o-box-orient: vertical;
          white-space: normal;
        }

        .dateTime {
          gap: 1.5rem;
          font-family: var(--regular);
          color: var(--grayTextColor);

          .infoWrapper {
            align-items: center;
            gap: 0.25rem;

            .value {
              font-size: 0.75rem;
              line-height: 1;
              margin: 0;
            }
          }
        }
      }

      .cardToggler {
        margin-left: auto;

        svg {
          width: 1.5rem;
          cursor: pointer;
        }
      }
    }

    .cardBody {
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      gap: 0.5rem;
      background-color: var(--sectionContainerBgColor);

      .title {
        font-size: 1.125rem;
        font-family: var(--semiBold);
        color: var(--black2TextColor);
        line-height: 1;
        margin: 0;
      }

      .description {
        font-size: 0.875rem;
        font-family: var(--regular);
        color: var(--grayTextColor);
      }

      .summaryDiv {
        background-color: var(--dashboardSummaryCardBgColor);
        align-items: center;
        padding: 0.5rem;

        .summary {
          gap: 0.25rem;
          color: var(--black2TextColor);
          font-family: var(--semiBold);
          font-size: 1rem;

          svg {
            width: 1rem;

            & path {
              stroke: var(--pageBgColor);
            }
          }

          span {
            line-height: 1;
            margin: 0;
          }

          .summaryValue {
            font-size: 1.25rem;
            font-family: var(--bold);
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .archiveContainer {
    padding-right: 0;

    .cardWrapper {
      .cardHeader {
        gap: 1rem;
        padding: 1rem;

        .cardIcon {
          svg {
            width: 2.5rem;
          }
        }

        .metaData {
          gap: 0.25rem;

          .metaDataTitle {
            font-size: 1.125rem;
          }

          .dateTime {
            gap: 1.5rem;

            .infoWrapper {
              gap: 0.5rem;

              .value {
                font-size: 0.875rem;
              }
            }
          }
        }
      }

      .cardBody {
        padding: 1rem;
        gap: 1rem;

        .title {
          font-size: 1.125rem;
        }

        .description {
          font-size: 0.875rem;
        }

        .summaryDiv {
          padding: 1rem;

          .summary {
            gap: 0.5rem;

            .summaryValue {
              font-size: 1.375rem;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .archiveContainer {
    gap: 0.75rem;

    .cardWrapper {
      .cardHeader {
        gap: 1.5rem;
        padding: 0.5rem 1.5rem;

        .cardIcon {
          svg {
            width: 2.5rem;
          }
        }

        .metaData {
          .metaDatatitle {
            font-size: 1.125rem;
          }

          .dateTime {
            gap: 1.75rem;

            .infoWrapper {
              gap: 0.75rem;

              .value {
                font-size: 0.875rem;
              }
            }
          }
        }
      }

      .cardBody {
        padding: 1rem 1.5rem;
        gap: 1rem;

        .title {
          font-size: 1.125rem;
        }

        .description {
          font-size: 1rem;
        }

        .summaryDiv {
          .summary {
            gap: 0.75rem;

            .summaryValue {
              font-size: 1.75rem;
            }
          }
        }
      }
    }
  }
}
