.programRequestsContainer {
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 100%;

  .body {
    position: relative;
    overflow-y: auto;
    padding: 0.25rem;

    .cardContainer {
      gap: 0.75rem;
      padding-right: 0.125rem;

      .cardWrapper {
        border: 1px solid var(--grayBorderColor);
        border-radius: 0.25rem;
        flex-wrap: nowrap;
        gap: 0.75rem;
        align-items: center;
        padding: 0.5rem;

        .cardIcon {
          svg {
            width: 3rem;
            height: auto;
          }
        }
        .name {
          font-size: 1rem;
          font-family: var(--semiBold);
          color: var(--black2TextColor);
          line-height: 1rem;
          margin: 0;
        }
        .count {
          font-size: 0.875rem;
          text-align: center;
          min-width: 1.5rem;
          border-radius: 0.125rem;
          font-family: var(--semiBold);
          color: var(--whiteTextColor);
          background-color: var(--primaryRedColor);
          margin: 0 0 0 auto;
          padding: 0.125rem 0.125rem;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .programRequestsContainer {
    gap: 1rem;

    .body {
      padding: 0.75rem;

      .cardContainer {
        gap: 0.75rem;
        padding-right: 0.25rem;

        .cardWrapper {
          gap: 1.5rem;
          padding: 0.5rem 1.5rem;

          .cardIcon {
            svg {
              width: 4rem;
            }
          }

          .name {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .programRequestsContainer {
    .body {
      .cardContainer {
        .cardWrapper {
          gap: 3rem;
          padding: 0.5rem 2rem;

          .cardIcon {
            svg {
              width: 3.5rem;
            }
          }
        }
      }
    }
  }
}
