.settings-sidebar-active-menu {
    background-color: white;
    
    a {
        color: var(--blackTextColor) !important;
        font-family: var(--boldFontWeight);
    }

    span {
        svg {
            path {
                stroke: var(--blackTextColor) !important;
            }
        }
    }
  }
  