.taskDetailsContainer {
  height: 100%;
  gap: 1rem;

  .header {
    justify-content: center;

    .wrapper {
      gap: 0.75rem;

      .icon {
        width: 3rem;
        align-self: flex-start;
      }

      .mainContent {
        gap: 0.5rem;

        .title {
          font-size: 1.25rem;
          color: var(--blackTextColor);
          font-family: var(--semiBold);
          margin: 0;
          line-height: 1;
        }

        .metaData {
          font-size: 0.875rem;
          gap: 0.25rem;
          color: var(--grayTextColor);
          font-family: var(--regular);
          line-height: 1;
          align-items: flex-end;

          .dateIcon {
            width: 1rem;
          }

          .date {
            margin: 0;
            line-height: 1;
          }
        }
      }
    }
  }

  .body {
    background-color: var(--sectionContainerBgColor);
    padding: 1rem;
    gap: 1rem;

    .description {
      font-size: 0.875rem;
      color: var(--grayTextColor);
      font-family: var(--regular);
      line-height: 1.5;
      margin: 0;
      padding: 0;
    }

    .summaryDiv {
      background-color: var(--dashboardSummaryCardBgColor);
      align-items: center;
      padding: 0.5rem;
      width: 100%;
      gap: 0.5rem;

      .iconDiv {
        width: 7.5%;
      }

      .summary {
        width: 65%;
        gap: 0.5rem;
        color: var(--black2TextColor);
        font-family: var(--semiBold);
        font-size: 1rem;
        align-items: center;

        span {
          line-height: 1;
          margin: 0;
        }

        .summaryValue {
          font-size: 1.25rem;
          font-family: var(--bold);
          color: var(--black2TextColor);
        }

        .caption {
          font-size: 0.875rem;
          font-family: var(--semiBold);
          color: var(--black2TextColor);
          white-space: wrap;
        }

        .count {
          font-size: 0.875rem;
          text-align: center;
          width: 1.5rem;
          line-height: 1.5rem;
          border-radius: 50%;
          font-family: var(--semiBold);
          color: var(--whiteTextColor);
          background-color: var(--primaryRedColor);
          margin-left: 0.5rem;
          display: block;
        }
      }

      button {
        margin-left: auto;
      }
    }
  }

  .btnGroup {
    gap: 1.5rem;
    justify-content: flex-end;

    .deleteBtn {
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--primaryRedColor);
      font-family: var(--regular);
      gap: 0.5rem;
      cursor: pointer;
    }
  }

  .emptySelectionDiv {
    height: 100%;
    gap: 1rem;
    padding: 1rem;

    img {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1;
      font-family: var(--regular);
      text-align: center;
    }

    p:nth-of-type(1) {
      font-size: 1.25rem;
      color: var(--black2TextColor);
    }

    p:nth-of-type(2) {
      font-size: 1rem;
      color: var(--grayTextColor);
    }
  }
}

@media all and (min-width: 992px) {
  .taskDetailsContainer {
    .header {
      .wrapper {
        .mainContent {
          gap: 0.75rem;

          .title {
            font-size: 1.25rem;
          }

          .metaData {
            font-size: 1rem;
            gap: 0.5rem;
          }
        }
      }
    }

    .body {
      gap: 1.5rem;

      .description {
        font-size: 1rem;
      }

      .summaryDiv {
        padding: 1rem;
        gap: 1rem;

        .iconDiv {
          width: 2.5%;
        }

        .summary {
          gap: 1rem;
          font-size: 1.25rem;

          .summaryValue {
            font-size: 2rem;
          }

          .caption {
            font-size: 1.25rem;
          }

          .count {
            font-size: 1rem;
            width: 1.5rem;
            line-height: 1.5rem;
            margin-left: 1.5rem;
          }
        }
      }
    }

    .btnGroup {
      gap: 2rem;
    }

    .emptySelectionDiv {
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
