.mentorManagerRequestsContainer {
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 100%;

  .body {
    position: relative;
    overflow-y: auto;
    padding-right: 0.25rem;

    .cardContainer {
      gap: 0.75rem;
      padding-right: 0.125rem;

      .emptySelectionDiv {
        height: 100%;
        gap: 1rem;
        padding: 1rem;

        img {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }

        p {
          margin: 0;
          padding: 0;
          line-height: 1;
          font-family: var(--regular);
          text-align: center;
        }

        p:nth-of-type(1) {
          font-size: 1.25rem;
          color: var(--black2TextColor);
        }

        p:nth-of-type(2) {
          font-size: 1rem;
          color: var(--grayTextColor);
        }
      }

      .cardWrapper {
        border: 1px solid var(--grayBorderColor);
        border-radius: 0.25rem;

        .cardHeader {
          flex-wrap: nowrap;
          gap: 0.75rem;
          align-items: center;
          padding: 0.5rem;

          .cardIcon {
            svg {
              width: 3rem;
              height: auto;
            }
          }

          .metaData {
            gap: 0.625rem;
            justify-content: center;

            .name,
            .metaDataTitle {
              font-size: 1rem;
              font-family: var(--bold);
              color: var(--black2TextColor);
              line-height: 1rem;
              margin: 0;
            }
          }

          .cardToggler {
            margin-left: auto;

            svg {
              width: 1.5rem;
              cursor: pointer;
            }
          }
        }

        .cardBody {
          padding: 1rem 0.5rem 0.5rem 0.5rem;
          gap: 1rem;
          background-color: var(--green3Color);

          .certificateDiv {
            width: 75%;
            align-self: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .btnGroup {
            align-items: center;
            justify-content: flex-end;
            align-self: center;
            gap: 1rem;
            width: 75%;
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .mentorManagerRequestsContainer {
    gap: 1rem;

    .body {
      padding: 0.75rem;

      .cardContainer {
        gap: 0.75rem;
        padding-right: 0.25rem;

        .cardWrapper {
          .cardHeader {
            gap: 0.875rem;

            .cardIcon {
              svg {
                width: 4rem;
              }
            }

            .metaData {
              .metaDataTitle {
                font-size: 1.125rem;
              }
            }
          }

          .cardBody {
            .certificateDiv {
              width: 75%;
            }

            .btnGroup {
              width: 75%;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .mentorManagerRequestsContainer {
    .body {
      .cardContainer {
        .cardWrapper {
          .cardHeader {
            gap: 1.5rem;
            padding: 0.5rem 1.125rem;

            .cardIcon {
              svg {
                width: 3.5rem;
              }
            }
          }

          .cardBody {
            padding: 1rem 1.5rem;
            gap: 1rem;

            .certificateDiv,
            .btnGroup {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
