.createTaskContainer {
  gap: 1rem;
  padding: 1rem 0.5rem;
  position: relative;
  height: calc(100vh - var(--topNavbarHeight));

  .mainSection {
    gap: 1.5rem;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding-right: 0.5rem;

    .heading {
      position: sticky;
      top: 0;
      align-items: flex-end;

      .title {
        margin: 0;
        font-family: var(--semiBold);
        color: var(--blackTextColor);
        font-size: 1.5rem;
        line-height: 1rem;
      }

      img {
        cursor: pointer;
      }
    }

    .formWrapper {
      overflow-y: auto;
      padding-right: 0.5rem;

      form {
        label {
          font-family: var(--bold);
          font-size: 1.125rem;
          color: var(--black2TextColor);
        }

        .selectionDiv {
          gap: 1rem;
          flex-wrap: wrap;

          .wrapper {
            width: 100%;
            background-color: var(--green3Color);
            padding: 1rem;

            .leftSide {
              gap: 0;
              align-items: center;
              flex-grow: 1;

              .title {
                font-family: var(--semiBold);
                font-size: 1.125rem;
                color: var(--black2TextColor);
                line-height: 1rem;
              }

              .statsDiv {
                gap: 1.5rem;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                padding: 0.25rem 1.5rem;
                border-radius: 0.25rem;

                .stats {
                  font-family: var(--regular);
                  font-size: 1rem;
                  color: var(--black2TextColor);
                }

                svg {
                  cursor: pointer;
                }
              }
            }
          }
        }

        .submitBtnDiv {
          align-items: center;
          justify-content: flex-start;
          margin-top: 2rem;
        }
      }
    }
  }

  .sideBarSection {
    width: auto;

    .noUserFound {
      width: 100%;

      h6 {
        font-family: var(--semiBold);
        font-size: 1rem;
        color: var(--black2TextColor);
        margin: 0;
      }
    }

    .filterAndSearchDiv {
      width: 100%;
      justify-content: flex-end;
      gap: 1rem;
      min-height: 3rem;

      .title {
        font-family: var(--semiBold);
        font-size: 1rem;
        color: var(--black2TextColor);
        margin: 0;
      }

      .searchWrapper {
        flex-grow: 1;
      }

      .closeIcon {
        width: 1rem;
        cursor: pointer;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .createTaskContainer {
    padding: 2rem;

    .mainSection {
      .formWrapper {
        form {
          .selectionDiv {
            gap: 1.5rem;
            flex-wrap: nowrap;
            margin-top: 3rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .createTaskContainer {
    padding: 1rem 2rem;

    .mainSection {
      gap: 2.5rem;
      padding-top: 0.875rem;

      .formWrapper {
        form {
          .selectionDiv {
            gap: 1.5rem;
          }
        }
      }
    }
  }
}
