.dashboardReportsOverviewContainer {
  padding: 0.875rem 0.75rem;
  background-color: var(--dashboardSummaryCardBgColor);
  border-radius: 0.5rem;

  .body {
    gap: 0.5rem;

    .icon {
      width: 3rem;
    }

    .mainContent {
      gap: 0.25rem;

      .title {
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--blackTextColor);
        margin: 0;
        line-height: 1;
      }

      .metaData {
        font-size: 0.875rem;
        gap: 0.25rem;
        color: var(--grayTextColor);
        white-space: nowrap;

        .name {
          font-family: var(--muktaBold);
          width: fit-content;
        }
      }
    }
  }
}
