.dashboardReportsOverviewContainer {
  padding: 0.875rem 0.75rem;
  background-color: var(--dashboardSummaryCardBgColor);
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--green5Color);

    .body {
      .icon {
        path {
          stroke: var(--primaryColor);
        }
      }

      .mainContent {
        .title {
          color: var(--black2TextColor);
        }

        .metaData {
          color: var(--grayTextColor);
        }
      }
    }
  }

  .body {
    gap: 0.5rem;

    .icon {
      width: 3rem;
    }

    .mainContent {
      gap: 0.25rem;

      .title {
        font-size: 1.25rem;
        font-family: var(--regular);
        color: var(--blackTextColor);
        margin: 0;
        line-height: 1;
      }

      .metaData {
        font-size: 0.875rem;
        gap: 0.25rem;
        color: var(--grayTextColor);
        font-family: var(--regular);
        white-space: nowrap;

        .name {
          font-family: var(--semiBold);
          width: fit-content;
        }
      }
    }
  }
}
