.passwordContainer {
  gap: 0;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .leftSection {
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        font-size: 1rem;
        font-family: var(--semiBold);
        margin: 0;
        line-height: 1;
      }
    }

    .rightSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .btnDiv {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .forgotPasswordWrapper {
    margin-top: 1.5rem;
    justify-content: center;

    p {
      font-size: 1rem;
      font-family: var(--semiBold);
      color: var(--secondaryBtnTextColor);
      width: fit-content;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
  }
}

@media all and (min-width: 1200px) {
  .passwordContainer {
    .wrapper {
      flex-wrap: nowrap;

      .leftSection {
        justify-content: flex-start;
        align-items: flex-start;
        width: 35%;

        .title {
          margin-top: 1rem;
          white-space: nowrap;
        }
      }
    }

    .btnDiv {
      margin-bottom: 1rem;
    }
  }
}
