.modalWrapper {
  gap: 2.5rem;
  background-color: var(--modalBgColor);
  padding: 3rem 2rem;
  border-radius: 0.25rem;

  .modalHeader {
    align-items: center;
    gap: 1rem;

    .headerTitle {
      font-size: 1.25rem;
      font-family: var(--semiBold);
      color: var(--blackTextColor);
    }
  }

  .modalBody {
    align-items: center;

    .successImage {
      width: 10rem;
    }
  }

  .modalFooter {
    .btnDiv {
      button {
        width: 100%;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .modalWrapper {
    gap: 2.5rem;
    padding: 1.5rem 2rem;

    .modalHeader {
      .headerTitle {
        font-size: 1.5rem;
      }
    }

    .modalBody {
      .successImage {
        width: 15rem;
      }
    }

    .modalFooter {
      .btnDiv {
        button {
          width: fit-content;
        }
      }
    }
  }
}
