.forgotPasswordContainer {
  .leftSection {
    display: none;
  }

  .rightSection {
    .formContainer {
      min-height: 100dvh;
      width: 100%;
      padding: 1.5rem;
      gap: 0rem;

      .formHeader {
        text-align: left;
        width: 100%;

        .formTitle {
          font-size: 2rem;
          font-weight: 700;
          color: var(--blackTextColor);
        }

        .caption {
          font-size: 1rem;
          font-weight: 400;
          color: var(--blackTextColor);
        }

        .outcomeDiv {
          gap: 1.5rem;

          .btnDiv {
            button {
              width: 100%;
            }
          }
        }
      }

      .formWrapper {
        width: 100%;

        form {
          .submitBtnDiv {
            margin-top: 3.5rem;

            button {
              width: 100%;
            }
          }

          .backToLoginWrapper {
            margin-top: 1.5rem;
            justify-content: flex-end;

            p {
              text-align: right;
              font-size: 1rem;
              font-weight: 600;
              color: var(--blackTextColor);
              width: fit-content;
              cursor: pointer;
              border-bottom: 1px solid #ccc;
              margin: 0;
              padding: 0;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .forgotPasswordContainer {
    .leftSection {
      display: block;
    }

    .rightSection {
      .formContainer {
        padding: 1rem;

        .formHeader {
          .formTitle {
            font-size: 2rem;
          }

          .caption {
            font-size: 1rem;
          }
        }

        .formWrapper {
          form {
            .backToLoginWrapper {
              p {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .forgotPasswordContainer {
    .rightSection {
      .formContainer {
        padding: 2rem;

        .formWrapper {
          form {
            .backToLoginWrapper {
              p {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .forgotPasswordContainer {
    .rightSection {
      .formContainer {
        width: 70%;
        align-self: center;

        .formWrapper {
          form {
            .backToLoginWrapper {
              p {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
