@font-face {
  font-family: "MuktaRegular";
  src: local("MuktaRegular"), url("./assets/fonts/Mukta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MuktaMedium";
  src: local("MuktaMedium"), url("./assets/fonts/Mukta-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MuktaBold";
  src: local("Mukta"), url("./assets/fonts/Mukta-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MuktaSemiBold";
  src: local("MuktaSemiBold"), url("./assets/fonts/Mukta-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MuktaExtraBold";
  src: local("MuktaExtraBold"), url("./assets/fonts/Mukta-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "MuktaLight";
  src: local("Mukta"), url("./assets/fonts/Mukta-Light.ttf") format("truetype");
}

@font-face {
  font-family: "MuktaExtraLight";
  src: local("MuktaExtraLight"), url("./assets/fonts/Mukta-ExtraLight.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MuktaRegular, Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
}

body {
  font-family: MuktaRegular, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid none;
  -webkit-text-fill-color: var(--primaryTextColor);
  -webkit-box-shadow: 0 0 0 30px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

button:disabled,
button[disabled] {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  border: none;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}