.mentorTasksContainer {
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 100%;

  .heading {
    position: sticky;
    top: 0;
    flex-wrap: nowrap;

    .dropdown {
      border: 1px solid var(--grayBorderColor);
      border-radius: 0.25rem;

      select {
        border: 1px solid var(--grayBorderColor);
        padding: 0.125rem 0.25rem;
        font-size: 0.875rem;
        color: var(--blackTextColor);
        font-family: var(--regular);
        line-height: 1;
        background-color: transparent;
        cursor: pointer;
        outline: none;
      }
    }

    .searchDiv {
      border: 1px solid var(--grayBorderColor);
      border-radius: 0.25rem;
      padding: 0.125rem 0.5rem;
      gap: 0.25rem;

      img {
        width: 1rem;
        object-fit: cover;
      }

      input {
        font-size: 0.875rem;
        color: var(--blackTextColor);
        font-family: var(--regular);
        line-height: 1;
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent;
      }
    }
  }

  .body {
    position: relative;
    overflow-y: auto;

    .cardContainer {
      gap: 0.5rem;
      padding-right: 0.125rem;

      .cardWrapper {
        border: 1px solid var(--grayBorderColor);
        border-radius: 0.25rem;

        .cardHeader {
          flex-wrap: nowrap;
          gap: 0.5rem;
          align-items: center;
          padding: 0.5rem;

          .wrapper {
            gap: 0.75rem;

            .icon {
              width: 3rem;
              align-self: flex-start;
            }

            .mainContent {
              gap: 0.5rem;

              .title {
                font-size: 1rem;
                color: var(--blackTextColor);
                font-family: var(--semiBold);
                margin: 0;
                line-height: 1;
              }

              .metaData {
                font-size: 0.75rem;
                gap: 0.25rem;
                color: var(--grayTextColor);
                font-family: var(--regular);
                line-height: 1;
                align-items: flex-end;

                .dateIcon {
                  width: 1rem;
                }

                .date {
                  margin: 0;
                  line-height: 1;
                }
              }
            }
          }

          .cardToggler {
            margin-left: auto;

            svg {
              width: 1.5rem;
              cursor: pointer;
            }
          }
        }

        .cardBody {
          background-color: var(--sectionContainerBgColor);
          padding: 0.5rem;
          gap: 1rem;

          .description {
            font-size: 0.875rem;
            color: var(--grayTextColor);
            font-family: var(--regular);
            line-height: 1.5;
            margin: 0;
            padding: 0;
          }

          .summaryDiv {
            background-color: var(--dashboardSummaryCardBgColor);
            align-items: center;
            padding: 0.5rem;
            width: 100%;
            gap: 0.5rem;

            .iconDiv {
              width: 7.5%;
              display: none;
            }

            .summary {
              width: 75%;
              gap: 0.5rem;
              color: var(--black2TextColor);
              font-family: var(--semiBold);
              font-size: 1rem;
              align-items: center;

              span {
                line-height: 1;
                margin: 0;
              }

              .summaryValue {
                font-size: 1.25rem;
                font-family: var(--bold);
                color: var(--black2TextColor);
              }

              .caption {
                font-size: 0.875rem;
                font-family: var(--semiBold);
                color: var(--black2TextColor);
                white-space: wrap;
              }

              .count {
                font-size: 0.875rem;
                text-align: center;
                width: 1.5rem;
                line-height: 1.5rem;
                border-radius: 50%;
                font-family: var(--semiBold);
                color: var(--whiteTextColor);
                background-color: var(--primaryRedColor);
                margin-left: 0.5rem;
                display: block;
              }
            }

            button {
              margin-left: auto;
            }
          }
        }

        .unAssignBtnDiv {
          align-self: flex-end;
          padding: 1rem 0.5rem;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .mentorTasksContainer {
    gap: 1rem;

    .body {
      .cardContainer {
        padding-right: 0;

        .cardWrapper {
          .cardHeader {
            gap: 1rem;
            padding: 1rem;

            .wrapper {
              gap: 0.75rem;

              .icon {
                width: 3rem;
                align-self: flex-start;
              }

              .mainContent {
                gap: 0.5rem;

                .title {
                  font-size: 1.125rem;
                }

                .metaData {
                  font-size: 0.875rem;
                  gap: 0.25rem;
                }
              }
            }
          }

          .cardBody {
            padding: 1rem;

            .summaryDiv {
              .iconDiv {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .mentorTasksContainer {
    gap: 1rem;

    .body {
      .cardContainer {
        padding-right: 0;

        .cardWrapper {
          .cardHeader {
            gap: 1rem;
            padding: 1rem;

            .wrapper {
              gap: 0.75rem;

              .icon {
                width: 3rem;
                align-self: flex-start;
              }

              .mainContent {
                gap: 0.5rem;

                .title {
                  font-size: 1.125rem;
                }

                .metaData {
                  font-size: 0.875rem;
                  gap: 0.25rem;
                }
              }
            }
          }

          .cardBody {
            padding: 1rem;

            .summaryDiv {
              .iconDiv {
                display: block;
              }
            }
          }

          .unAssignBtnDiv {
            padding: 1rem 1rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .mentorTasksContainer {
    .body {
      .cardContainer {
        .cardWrapper {
          .cardHeader {
            gap: 1.5rem;
            padding: 1rem 1.5rem;

            .wrapper {
              .icon {
                width: 2.25rem;
              }

              .mainContent {
                gap: 0.5rem;

                .metaData {
                  font-size: 0.875rem;
                  gap: 0.5rem;
                }
              }
            }
          }

          .cardBody {
            gap: 1.5rem;

            .description {
              font-size: 1rem;
              line-height: 2;
            }

            .summaryDiv {
              padding: 1rem;
              gap: 1rem;

              .iconDiv {
                width: 2.5%;
              }

              .summary {
                gap: 1rem;
                font-size: 1.25rem;

                .summaryValue {
                  font-size: 2rem;
                }

                .caption {
                  font-size: 1.25rem;
                }

                .count {
                  font-size: 1rem;
                  width: 1.5rem;
                  line-height: 1.5rem;
                  margin-left: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
