{
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": false
}
