.programListItemContainer {
    padding: 0.25rem 0.5rem;
    background-color: var(--taskListBgColor);
    border-radius: 5px;
    justify-content: center;
    border: 1px solid var(--grayBorderColor);
    width: 100%;
    cursor: pointer;
  
    &:hover {
      background-color: var(--taskListHoverBgColor);
      border: 1px solid var(--taskListHoverBgColor);
    }
  
    .body {
      gap: 0.5rem;
  
      .icon {
        width: 2.5rem;
      }
  
      .mainContent {
        gap: 0.5rem;
  
        .title {
          font-size: 1rem;
          color: var(--blackTextColor);
          font-family: var(--semiBold);
          margin: 0;
          line-height: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-box;
          display: -o-box;
          display: box;
          -webkit-line-clamp: 1; /* number of lines to show */
          -moz-line-clamp: 1;
          -ms-line-clamp: 1;
          -o-line-clamp: 1;
           line-clamp: 1;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -ms-box-orient: vertical;
          -o-box-orient: vertical;
          white-space: normal;
        }
  
        .metaData {
          font-size: 0.875rem;
          gap: 1.5rem;
          color: var(--grayTextColor);
          font-family: var(--regular);
          line-height: 1;
  
          .info{
            gap: 0.25rem;
            align-items: center;
  
            svg{
              width: 1rem;
            }
            
            .value {
              margin: 0;
              line-height: 1;
              font-size: 0.75rem;
            }
          }
          
        }
      }
    }
  }
  
  @media all and (min-width: 992px) {
    .programListItemContainer {
      padding: 0.875rem 0.75rem;
  
      .body {
        gap: 1rem;
  
        .icon {
          width: 1.75rem;
        }
  
        .mainContent {
          gap: 0.5rem;
  
          .title {
            font-size: 1rem;
            color: var(--blackTextColor);
            font-family: var(--semiBold);
            margin: 0;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-box;
            display: -o-box;
            display: box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -moz-line-clamp: 1;
            -ms-line-clamp: 1;
            -o-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            -o-box-orient: vertical;
            white-space: normal;
          }
  
          .metaData {
            gap: 1.5rem;
            font-size: 0.875rem;
            color: var(--grayTextColor);
            font-family: var(--regular);
  
            .info{
              align-items: center;
              gap: 0.25rem;

              svg{
                  width: 1rem;
              }

              .value {
                line-height: 1;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  