.sidebar-active-menu {
    background-color: white;

    & span:nth-child(1) {
      svg path {
        stroke: var(--blackTextColor);
      }
    }

    & span:nth-child(2) {
      color: var(--blackTextColor);
      font-family: var(--boldFontWeight);
    }
  }