.authSideHeroContainer {
  background-color: var(--pageBgColor);
  width: 100%;
  height: 100vh;

  .pageLogo {
    width: clamp(15rem, 20vw, 20rem);
    object-fit: contain;
    cursor: pointer;
  }

  .tagLine {
    font-size: 1.5rem;
    color: var(--whiteTextColor);
    font-family: var(--muktaBold);
    cursor: pointer;
  }
}

@media all and (min-width: 1200px) {
  .authSideHeroContainer {
    .pageLogo {
      width: clamp(13rem, 20vw, 15rem);
    }

    .tagLine {
      font-size: 2rem;
    }
  }
}
