.tabsContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0.5rem;
  gap: 1.5rem;

  .tab {
    font-size: 1rem;
    cursor: pointer;
    font-family: var(--regular);
    padding-bottom: 0.125rem;
  }

  .active {
    color: var(--primaryColor);
    font-family: var(--bold);
    border-bottom: 1px solid var(--primaryColor);
  }

  &::-webkit-scrollbar {
    height: 2px; /* height of horizontal scrollbar */
    width: 2px; /* width of vertical scrollbar */
    border: 1px solid var(--primaryColor);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fcfcfc;
    border-radius: 1rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 10px;
  }
}
