.mentorDetailsContainer {
  height: calc(100vh - var(--topNavbarHeight));
  padding: 0 0.5rem;
  width: 100%;
  position: relative;
  overflow-y: hidden;

  .sideBarSection {
    height: 100%;

    .sideBarHeader {
      width: 100%;
      position: relative;
      margin: 0.5rem 0;
      min-height: 3.5rem;
      justify-content: flex-end;
      padding: 0 1rem;
      gap: 0.75rem;
      align-items: center;

      .titleDiv {
        margin-right: auto;

        .backIcon {
          cursor: pointer;
          width: 0.75rem;
          height: 0.75rem;
          margin: 0 0.25rem;
        }

        .title {
          margin: 0;
          font-family: var(--semiBold);
          color: var(--blackTextColor);
          font-size: 1.25rem;
          line-height: 1;
          padding: 0;
        }
      }

      .searchWrapper {
        flex-grow: 1;
      }
    }
  }

  .outletDiv {
    height: 100%;
    overflow-y: auto;
    gap: 1rem;
    width: 100%;

    .outletHeading {
      position: sticky;
      top: 0;
      padding: 0.5rem 0.5rem 0 0.5rem;
      justify-content: space-between;
      align-items: flex-start;

      .profile {
        gap: 0.5rem;

        .bioSummary {
          gap: 0.5rem;

          .profileImage {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            align-items: flex-start;
            gap: 0.75rem;

            .nameAndRole {
              gap: 0.25rem;

              .name {
                font-size: 1.125rem;
                color: var(--black2TextColor);
                font-family: var(--semiBold);
                margin: 0;
                line-height: 1;
              }

              .role {
                font-size: 0.875rem;
                color: var(--grayTextColor);
                font-family: var(--regular);
                line-height: 1;
                margin: 0;
                display: flex;
                gap: 0.75rem;

                img {
                  width: 0.875rem;
                  cursor: pointer;
                }
              }
            }

            .flagIcon {
              width: 1.5rem;
              object-fit: cover;
              border-radius: 0.25rem;
            }
          }
        }

        .btnGroup {
          gap: 1rem;
        }
      }

      .togglerDiv {
        gap: 0.25rem;

        .toggler {
          width: 1.5rem;
        }

        .togglerText {
          font-size: 0.625rem;
          color: var(--blackTextColor);
          font-family: var(--regular);
          line-height: 1;
        }
      }
    }

    .outletBody {
      gap: 1rem;
      height: 100%;
      overflow-y: auto;
      position: relative;

      .tabsWrapper {
        position: sticky;
        top: 0;
        z-index: 1;
        padding-top: 0.5rem;
      }

      .contentWrapper {
        height: 100%;
        overflow-y: auto;
        gap: 1rem;
        border: 1px solid var(--grayBorderColor);
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .mentorDetailsContainer {
    padding: 1rem 2rem;

    .outletDiv {
      gap: 1rem;

      .outletHeading {
        padding: 0;

        .profile {
          gap: 0.75rem;

          .bioSummary {
            gap: 0.75rem;

            .profileImage {
              width: 4rem;
              height: 4rem;
            }

            .info {
              gap: 1rem;

              .nameAndRole {
                gap: 0.375rem;

                .name {
                  font-size: 1.25rem;
                }
              }
            }
          }
        }

        .togglerDiv {
          gap: 0.375rem;

          .toggler {
            width: 1.625rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .mentorDetailsContainer {
    padding: 0 1rem 1rem 1rem;
    gap: 0.5rem;
    flex-direction: row;

    .sideBarSection {
      .sideBarHeader {
        padding: 0;
        margin: 0.875rem 0 0 0;
      }
    }

    .outletDiv {
      gap: 1rem;
      padding: 2.25rem 0.5rem 0 0.5rem;

      .outletHeading {
        .profile {
          gap: 0.75rem;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .bioSummary {
            gap: 0.75rem;

            .profileImage {
              width: 4rem;
              height: 4rem;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .mentorDetailsContainer {
    padding: 0 1rem 1rem 1rem;
    gap: 0.5rem;

    .outletDiv {
      .outletHeading {
        .profile {
          .bioSummary {
            gap: 0.75rem;

            .profileImage {
              width: 4.5rem;
              height: 4.5rem;
            }
          }
        }
      }
    }
  }
}
