.programDetailsContainer {
  height: 100%;
  gap: 0.75rem;
  padding: 1rem 0;
  overflow-y: auto;

  .header {
    justify-content: center;
    padding: 0 0.5rem;

    .wrapper {
      gap: 0.75rem;
  
      .icon {
        width: 3rem;
        align-self: flex-start;
      }
  
      .mainContent {
        gap: 0.5rem;
  
        .title {
          font-size: 1.25rem;
          color: var(--blackTextColor);
          font-family: var(--semiBold);
          margin: 0;
          line-height: 1;
        }
  
        .metaData {
          gap: 1.5rem;
          font-size: 0.875rem;
          color: var(--grayTextColor);
          font-family: var(--regular);
  
          .info {
            align-items: center;
            gap: 0.25rem;

            .icon {
              width: 1rem;
            }

            .value {
              font-size: 0.75rem;
              line-height: 1;
              margin: 0;
            }
          }
        }
      }
    }
  }
  
  .body {
    background-color: var(--sectionContainerBgColor);
    padding: 0.5rem;
    gap: 1rem;
  
    .subHeading {
      color: var(--blackTextColor);
      font-family: var(--semiBold);
      margin: 0;
      line-height: 1;
    }

    .description {
      font-size: 0.875rem;
      color: var(--grayTextColor);
      font-family: var(--regular);
      line-height: 1.5;
      margin: 0;
      padding: 0;
    }
  
    .summaryDiv {
      background-color: var(--dashboardSummaryCardBgColor);
      align-items: center;
      padding: 0.5rem;
      width: 100%;
      gap: 0.5rem;
  
      .iconDiv {
        width: 7.5%;
        display: none;
      }
  
      .summary {
        width: 75%;
        gap: 0.5rem;
        color: var(--black2TextColor);
        font-family: var(--semiBold);
        font-size: 1rem;
        align-items: center;
  
        span {
          line-height: 1;
          margin: 0;
        }
  
        .summaryValue {
          font-size: 1.25rem;
          font-family: var(--bold);
          color: var(--black2TextColor);
        }
  
        .caption {
          font-size: 0.875rem;
          font-family: var(--semiBold);
          color: var(--black2TextColor);
          white-space: wrap;
        }
  
        .count {
          font-size: 0.875rem;
          text-align: center;
          width: 1.5rem;
          line-height: 1.5rem;
          border-radius: 50%;
          font-family: var(--semiBold);
          color: var(--whiteTextColor);
          background-color: var(--primaryRedColor);
          margin-left: 0.5rem;
          display: block;
        }
      }
  
      button {
        margin-left: auto;
      }
    }
  }
  
  .btnGroup {
    gap: 1.5rem;
    justify-content: flex-end;
    padding-right: 0.5rem;

    .deleteBtn {
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--primaryRedColor);
      font-family: var(--regular);
      gap: 0.5rem;
      cursor: pointer;
    }
  }
}
  
@media all and (min-width: 768px) {
  .programDetailsContainer {
    padding: 1rem 0;

    .header {
      padding: 0 1rem;
    }

    .body {
      padding: 1rem;

      .summaryDiv {
        .iconDiv {
          display: block;
        }
      }
    }

    .btnGroup {
      padding-right: 1.5rem;
    }
  }
}

@media all and (min-width: 992px) {
  .programDetailsContainer {
    .header {
      .wrapper {
        .icon {
          width: 2.25rem;
        }

        .mainContent {
          gap: 0.5rem;

          .title {
            font-size: 1.25rem;
          }

          .metaData {
            font-size: 1rem;
            gap: 4.5rem;
          }
        }
      }
    }

    .body {
      gap: 1.5rem;

      .description {
        font-size: 1rem;
        line-height: 2;
      }

      .summaryDiv {
        padding: 1rem;
        gap: 1rem;

        .iconDiv {
          width: 2.5%;
        }

        .summary {
          gap: 1rem;
          font-size: 1.25rem;

          .summaryValue {
            font-size: 2rem;
          }

          .caption {
            font-size: 1.25rem;
          }

          .count {
            font-size: 1rem;
            width: 1.5rem;
            line-height: 1.5rem;
            margin-left: 1.5rem;
          }
        }
      }
    }

    .btnGroup {
      gap: 2rem;
      padding-right: 1rem;
    }
  }
}
