.discussionForumContainer {
  width: 100%;
  height: calc(100dvh - var(--topNavbarHeight));
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;

  .heading {
    gap: 0.5rem;
    position: sticky;
    top: 0;

    .title {
      font-size: 1.25rem;
      font-family: var(--semiBold);
      color: var(--black2TextColor);
      line-height: 1;
      margin: 0;
    }

    .addNewTopicDiv {
      align-items: center;
      padding: 0.5rem 1rem;
      border: 1px solid var(--grayBorderColor);
      border-radius: 0.25rem;
      cursor: pointer;

      span {
        font-size: 1rem;
        font-family: var(--regular);
        color: var(--grayTextColor);
      }

      img {
        width: 1.25rem;
        cursor: pointer;
      }
    }
  }

  .body {
    gap: 1rem;
    overflow-y: auto;
    height: 100%;
    position: relative;
    padding-right: 0.5rem;
  }
}

@media all and (min-width: 992px) {
  .discussionForumContainer {
    gap: 2rem;
    padding: 2rem;

    .heading {
      gap: 1.5rem;

      .title {
        font-size: 1.25rem;
      }

      .addNewTopicDiv {
        padding: 0.625rem 1.5rem;

        img {
          width: 1.5rem;
        }
      }
    }

    .body {
      gap: 1.25rem;
    }
  }
}
