.modalWrapper {
  gap: 1.5rem;
  background-color: var(--modalBgColor);
  padding: 2rem 1rem;
  border-radius: 1rem;

  .modalHeader {
    align-items: flex-start;
    gap: 1rem;

    .headerTitle {
      font-size: 1.25rem;
      font-family: var(--bold);
      color: var(--blackTextColor);
    }
  }

  .modalBody {
    align-items: flex-start;

    .formContainer {
      width: 100%;
      gap: 0.5rem;

      .formGroup {
        gap: 0.5rem;
        width: 100%;
        border: 1px solid var(--grayBorderColor);
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        padding: 0 0.5rem 0 0.125rem;

        .deleteFormGroupDiv {
          margin-top: 0.625rem;
          img {
            cursor: pointer;
            width: 1.5rem;
          }
        }
      }

      .appendDiv {
        gap: 0.5rem;
        cursor: pointer;
        width: fit-content;
        margin-top: 1.5rem;

        img {
          cursor: pointer;
          width: 1.5rem;
        }

        span {
          font-size: 1rem;
          font-family: var(--regular);
          color: var(--grayTextColor);
        }
      }

      .rootError {
        font-size: 0.875rem;
        font-family: var(--regular);
        color: var(--red2Color);
      }

      .btnGroup {
        margin: 2.5rem 0 0.5rem 0;
        width: 100%;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .modalWrapper {
    padding: 1.5rem 2rem;

    .modalHeader {
      .headerTitle {
        font-size: 1.5rem;
      }
    }
  }
}

@media all and (min-width: 992px) {
  .modalWrapper {
    padding: 3.5rem 4rem;

    .modalBody {
      .formContainer {
        .btnGroup {
          margin: 3.5rem 0 0.5rem 0;
        }
      }
    }
  }
}
