.active-task-item {
  > div {
    background-color: var(--sectionContainerBgColor);
    border: 1px solid #e6fdfe;
  }

  a {
    color: var(--blackTextColor) !important;
    font-family: var(--bold);
  }
}
