.discussionForumCardContainer {
  gap: 1.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grayBorderColor);

  .icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

  .heading {
    align-items: flex-start;

    .bioDataDiv {
      gap: 0.75rem;

      .profileImage {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }

      .bioDetails {
        text-align: left;
        gap: 0.125rem;

        .name {
          font-size: 1.125rem;
          font-family: var(--semiBold);
          color: var(--black2TextColor);
          line-height: 1;
          margin: 0;
        }

        .designation {
          font-size: 0.875rem;
          font-family: var(--regular);
          color: var(--grayTextColor);
          line-height: 1;
          margin: 0;
        }
      }
    }

    .moreOptionsDiv {
      position: relative;
      width: auto;

      .dropdown {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(0%, 0);
        width: max-content;
        display: flex;
        gap: 0.5rem;
        align-items: flex-start;
        border: 1px solid var(--grayBorderColor);
        background-color: var(--green3Color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 0 0.5rem 0 0;

        .dropdownList {
          z-index: 1;
          text-align: right;
          list-style-type: none;
          width: 100%;
          margin: 0;
          padding: 0;

          .dropdownListItem {
            padding: 0.25rem 0.5rem;
            cursor: pointer;
            width: 100%;
            font-size: 0.875rem;

            &:hover {
              background-color: var(--grayBorderColor);
            }
          }
        }

        img {
          padding-top: 0.5rem;
          width: 1.125rem;
          cursor: pointer;
        }
      }
    }
  }

  .content {
    gap: 0.5rem;

    .title {
      font-size: 1.125rem;
      font-family: var(--semiBold);
      color: var(--black2TextColor);
      line-height: 1;
      margin: 0;
      cursor: pointer;
    }

    .description {
      font-size: 1rem;
      font-family: var(--regular);
      color: var(--grayTextColor);
      line-height: 1.5;
      margin: 0;
    }
  }

  .footer {
    align-items: center;

    .iconsDiv {
      gap: 0.875rem;
    }

    .timeDiv {
      gap: 0.5rem;

      span {
        font-size: 0.875rem;
        font-family: var(--regular);
        color: var(--grayTextColor);
        line-height: 1;
        margin: 0;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .discussionForumCardContainer {
    gap: 1.75rem;
    padding: 1rem;

    .icon {
      width: 1.25rem;
      height: 1.25rem;
    }

    .heading {
      .bioDataDiv {
        gap: 1rem;

        .profileImage {
          width: 4rem;
          height: 4rem;
        }

        .bioDetails {
          gap: 0.25rem;

          .name {
            font-size: 1.25rem;
          }

          .designation {
            font-size: 1rem;
          }
        }
      }
    }

    .content {
      gap: 0.75rem;

      .title {
        font-size: 1.125rem;
      }

      .description {
        font-size: 1rem;
      }
    }

    .footer {
      .iconsDiv {
        gap: 1.5rem;
      }

      .timeDiv {
        gap: 0.75rem;

        span {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .discussionForumCardContainer {
    gap: 1.75rem;

    .heading {
      .bioDataDiv {
        .profileImage {
          width: 3.5rem;
          height: 3.5rem;
        }

        .bioDetails {
          .name {
            font-size: 1.25rem;
          }

          .designation {
            font-size: 0.875rem;
          }
        }
      }
    }

    .content {
      gap: 0.75rem;

      .description {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }
}
